body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  padding: 20px;
}

h1 {
    color: lightskyblue;
}

.short-break {
    height: 1px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  margin: 0;
}

a {
  color: deepskyblue;
  text-decoration: none;
}

a:hover {
  color: skyblue;
  text-decoration: none;
  font-weight: bold;
}

button, input, select, textarea {
    background-color: black;
    color: deepskyblue;
    border: 1px solid deepskyblue;
    padding: 8px 8px;
    font-family: monospace;
}

button::placeholder, input::placeholder, select::placeholder, textarea::placeholder {
    color: deepskyblue;
} 

button:hover, input:hover, select:hover, textarea:hover {
    background-color: skyblue;
    color: black;
    border: 1px solid deepskyblue;
}

button:hover::placeholder, input:hover::placeholder, select:hover::placeholder, textarea:hover::placeholder {
    color: black;
}