body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1rem;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  margin: 0;
}

a {
  color: deepskyblue;
  text-decoration: none;
}

a:hover {
  color: skyblue;
  text-decoration: none;
  font-weight: bold;
}
